public class PhambaodatAssigment1 {

    public class SinhVien static void main(String[] args) {
        String HovaTen = "Pham Bao Dat";
        String Lop = "CMU-CS 303 AIIS";
        String Masosinhvien = "29216250704";
        System.out.println("Ho va ten: + HovaTen");
        System.out.println("Lop: + Lop");
        System.out.println("Ma so sinh vien: + Masosinhvien");// TODO code application logic here
    }
    
}
